 body{   
    background-color: white;
    font-size: 14px;  
  }  
  h1{
    padding-left: 12px;
  }

  .button {   
          background-color: #3a29d9;   
          width: 100%;
          color: white;   
          padding: 15px;   
          margin: 10px 0px;   
          border-radius: 12px;   
          cursor: pointer;   
           }   
   .form{    
          box-shadow: 2px 2px 5px 5px rgb(235, 215, 215); 
          width: 22%;
          height: 55%;
          position: absolute;
          top: 20%;
          left: 40%;
      }   
    .text{   
          font-family: Helvetica; 
          font-size: 14px;
          width: 100%;   
          margin: 8px 0;  
          padding: 8px 10px;   
          display: inline-block;   
          border: 2px solid black;   
          box-sizing: border-box; 
      }  
      .label{
          font-family: Helvetica;
          font-size: 16px;
      }
   .button:hover {   
          opacity: 0.7;   
      }   
       
   .container {   
          padding: 10px;   
          background-color: white;  
      }   
  
    a{
      font-family: Helvetica;
          font-size: 16px;
          color: rgb(0, 76, 255);
    }

    a:hover{
        color: blueviolet;
    }